
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Roboto:ital@1&display=swap');

body {
    background-color:rgb(226, 226, 226);
}

header {
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 20px;
    text-align: center; 
}

.post{
    background-color: white;
    width: 500px;
    margin: 40px auto;
    font-family: 'Roboto';
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    max-width: 100%;
    height: auto;
}
.icon_head i:nth-child(1){
    float:right
}

.icons {
    width: 500px;
    margin: 40px auto;
    border: 1px;
}

.box .icons i:nth-child(4){
    float:right
}

.postheader {
    position: relative;
    height: 30px;
    padding-bottom: 20px;
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
}